<div class="container">
  <!-- section title -->
  <h2 class="section-title wow fadeInUp">{{blog.title}}</h2>

  <div class="spacer-60"></div>

  <div class="row blog-wrapper">
    <div *ngFor="let bp of blog.posts" class="col-md-4">
      <!-- blog item -->
      <div class="blog-item rounded bg-white shadow-dark wow fadeIn">
        <div class="thumb">
          <a href="javascript:">
            <span class="category">{{bp.type}}</span>
          </a>
          <a href="javascript:" (click)="scrollTo('home')">
            <img *ngFor="let img of bp.pictures" src="{{img.src}}" alt="{{img.alt}}" />
          </a>
        </div>
        <div class="details">
          <h4 class="my-0 title"><a href="javascript:">{{bp.title}}</a></h4>
          <ul class="list-inline meta mb-0 mt-2">
            <li class="list-inline-item">{{bp.date}}</li>
            <li class="list-inline-item">{{bp.editor}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
